@charset "UTF-8";

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 380px;
}

body {
  color: #403f3d;
  line-height: 1;
  font-family: "Inter";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  font: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  scroll-behavior: smooth;
  background: #e1d4c9;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 85rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

[class*=-ibg_content] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[class*=-ibg_content] img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.section-title {
  font-family: "Inter";
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
}

.section-title span {
  font-style: italic;
  color: #b0907a;
}

.button-icon-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.75rem;
  height: 3.75rem;
  color: #403f3d;
  border: 0.0625rem solid #403f3d;
  border-radius: 50%;
}

.button-icon-dark:disabled {
  opacity: 0.2;
  cursor: default;
}

.no-touch .button-icon-dark:not(:disabled):hover {
  color: #e1d4c9;
  border: 0.0625rem solid #665f55;
  background-color: #665f55;
}

.product-card {
  width: 19.375rem;
  min-height: 31.5625rem;
  height: 100%;
  border: 0.0625rem solid #c1b6ad;
  border-radius: 2.5rem;
}

.product-card__link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.no-touch .product-card__link:hover img {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.product-card__image {
  width: 19.25rem;
  height: 19.25rem;
  border-radius: 2.5rem;
  overflow: hidden;
}

.product-card__image img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.product-card__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.75rem;
  padding: 1.25rem;
}

.product-card__title {
  font-family: "Inter";
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
}

.product-card__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

.product-card__price {
  font-family: "Inter";
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
}

.icon-menu {
  display: none;
}

.header {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  min-height: 6.25rem;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  height: auto;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  z-index: 110;
}

.no-touch .header__logo:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.html-home .header__logo {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.menu__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.menu__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  position: relative;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
}

.menu__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 0.125rem;
  background-color: #403f3d;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.no-touch .menu__link:hover:after {
  width: calc(100% - 0.5rem);
  opacity: 1;
}

.menu__link_menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  max-width: 5.125rem;
  max-height: 2.125rem;
  margin-right: -0.3125rem;
}

.html-menu .menu__link_menu {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.menu__link_menu svg {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 1.25rem;
  height: 1.25rem;
}

.no-touch .menu__link_menu:hover:after,
.html-menu .menu__link_menu:after {
  width: calc(100% - 0.5rem);
  opacity: 1;
}

.footer {
  color: #e1d4c9;
  margin-bottom: 2.5rem;
}

.footer__wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19.75rem, 1fr));
  -webkit-column-gap: 8.6206896552%;
     -moz-column-gap: 8.6206896552%;
          column-gap: 8.6206896552%;
  padding: 6.25rem;
  background-color: #665f55;
  border-radius: 40px;
}

.footer__column_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.375rem;
}

.footer__title {
  font-family: "Inter";
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 2.5rem;
}

.footer__title span {
  font-style: italic;
  color: #b0907a;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.75rem;
  height: 3.75rem;
  border: 0.0625rem solid #c1b6ad;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.no-touch .footer__social-link:hover {
  color: #403f3d;
  background-color: #e1d4c9;
  border: 0.0625rem solid #e1d4c9;
}

.footer__social-link svg {
  width: 1.5rem;
  height: 1.5rem;
}

.footer__subtitle {
  font-family: "Inter";
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
}

.footer__contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.25rem;
}

.footer__contact-item svg {
  margin-right: 0.5rem;
}

.footer__contact-link {
  position: relative;
  display: inline-block;
}

.footer__contact-link:after {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  width: 0;
  height: 0.0625rem;
  background-color: #e1d4c9;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.no-touch .footer__contact-link:hover:after {
  width: 100%;
}

.promo__content {
  position: relative;
  border-radius: 2.5rem;
  overflow: hidden;
}

.promo__title {
  max-width: 33.125rem;
  margin-bottom: 2.5rem;
  font-family: "Inter";
  font-weight: 600;
  color: #e1d4c9;
}

.promo__title span {
  font-style: italic;
  color: #b0907a;
}

.promo__text {
  max-width: 33.125rem;
  margin-bottom: 2.5rem;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  color: #e1d4c9;
}

.promo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12.5rem;
  height: 4rem;
  border-radius: 6.25rem;
  background-color: #e1d4c9;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
}

.promo__link svg {
  width: 0;
  height: 1.25rem;
  margin-left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.no-touch .promo__link:hover svg {
  width: 1.25rem;
  margin-left: 0.5rem;
  opacity: 1;
}

.promo__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.favorite__title {
  margin-bottom: 2.5rem;
  text-align: center;
}

.favorite-slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favorite-slider__wrapper {
  max-width: 30rem;
  width: 100%;
  margin-bottom: 2.5rem;
  overflow-x: hidden;
}

.favorite-slider__swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.favorite-slider__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}

.favorite-slider__pagination > span {
  position: relative;
  width: 2.5rem;
  height: 0.25rem;
  background-color: #c1b6ad;
  border-radius: 0.125rem;
}

.favorite-slider__pagination > span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #665f55;
  border-radius: 0.125rem;
}

.favorite-slider__pagination > span._active:after {
  -webkit-animation: filling 5s linear forwards;
          animation: filling 5s linear forwards;
}

.favorite-slider__pagination > span._active._paused:after {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes filling {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes filling {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.favorite-slider__nav-button {
  position: absolute;
  top: 50%;
}

.favorite-slider__nav-button > svg {
  width: 0.78125rem;
  height: 0.75rem;
}

.favorite-slider__nav-button_prev {
  left: 0.25rem;
  -webkit-transform: translateY(calc(-50% - 1.375rem)) rotate(-180deg);
      -ms-transform: translateY(calc(-50% - 1.375rem)) rotate(-180deg);
          transform: translateY(calc(-50% - 1.375rem)) rotate(-180deg);
}

.favorite-slider__nav-button_next {
  right: 0.25rem;
  -webkit-transform: translateY(calc(-50% - 1.375rem));
      -ms-transform: translateY(calc(-50% - 1.375rem));
          transform: translateY(calc(-50% - 1.375rem));
}

.favorite-slide {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.favorite-slide__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
  cursor: pointer;
}

.favorite-slide__image-ibg {
  width: 100%;
  height: 100%;
}

.favorite-slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1rem;
}

.favorite-slide__title {
  font-family: "Inter";
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
}

.favorite-slide__text {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.favorite-slide__price {
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.about__text {
  margin-bottom: 2.5rem;
}

.about__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 3.7735849057% 2.9411764706%;
}

.about__image-ibg {
  width: calc(50% - 1.25rem);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 55.66%;
          flex: 1 1 55.66%;
  overflow: hidden;
  border-radius: 1.25rem;
}

.about__image-ibg_small {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40.56%;
          flex: 1 1 40.56%;
}

.about__image-ibg img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1s ease 0s;
  transition: -webkit-transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s, -webkit-transform 1s ease 0s;
}

.no-touch .about__image-ibg:hover img {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.mobile__container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26.25rem, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

.mobile__text {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

.mobile__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}

.mobile__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__image img {
  max-height: 39.375rem;
}

.mobile-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  min-width: 12.5rem;
  height: 4rem;
  padding: 0.75rem 1.25rem;
  border: 0.0625rem solid #665f55;
  border-radius: 6.25rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.no-touch .mobile-button:hover {
  color: #e1d4c9;
  background-color: #665f55;
  border: 0.0625rem solid #665f55;
}

.mobile-button__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 2.25rem;
  height: 2.25rem;
}

.mobile-button__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mobile-button__subtitle {
  margin-bottom: 0.125rem;
  font-family: "Inter";
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 140%;
}

.mobile-button__title {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
}

.section-menu__title {
  display: block;
  max-width: 50rem;
  margin: 0 auto 2.5rem auto;
  text-align: center;
}

.menu-tabs__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}

.menu-tabs__refresh {
  margin: 2.5rem auto 0 auto;
}

.menu-tabs__refresh svg {
  width: 1.5rem;
  height: 1.5rem;
}

.menu-tabs__refresh.hidden {
  display: none;
}

.menu-tabs-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  padding: 0.4375rem 0.9375rem 0.4375rem 0.4375rem;
  border: 0.0625rem solid #c1b6ad;
  border-radius: 6.25rem;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.menu-tabs-switch._active,
.no-touch .menu-tabs-switch:hover {
  color: #e1d4c9;
  background-color: #665f55;
  border: 0.0625rem solid #665f55;
}

.menu-tabs-switch._active {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.menu-tabs-switch__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.875rem;
  height: 1.875rem;
  background-color: #c1b6ad;
  border-radius: 50%;
}

.menu-tabs-switch__image img {
  width: 1rem;
  height: 1.5rem;
}

.menu-tabs-switch._active .menu-tabs-switch__image,
.no-touch .menu-tabs-switch:hover .menu-tabs-switch__image {
  background-color: #e1d4c9;
}

.menu-content-item {
  display: none;
}

.menu-content-item._active {
  display: block;
}

.menu-content-item__list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 19.375rem);
  grid-auto-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  gap: 2.5rem;
}

.products__item {
  display: block;
}

.modal {
  position: fixed;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(64, 63, 61, 0.8);
}

.modal.hidden {
  display: none;
}

.modal__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 19.375rem 1fr;
  grid-template-columns: 19.375rem 1fr;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  max-width: 50rem;
  width: 100%;
  padding: 1rem;
  border-radius: 2.5rem;
  background-color: #e1d4c9;
}

.modal__image {
  width: 19.375rem;
  height: 19.375rem;
  border-radius: 2.5rem;
  overflow: hidden;
}

.modal__image img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.modal__title {
  font-family: "Inter";
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 0.75rem;
}

.modal__text {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

.modal__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal__total-title {
  font-family: "Inter";
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
}

.modal__total-value {
  font-family: "Inter";
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
}

.modal__note-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  padding: 0.75rem 0rem;
  border-top: 0.0625rem solid #c1b6ad;
}

.modal__note-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1rem;
          flex: 0 0 1rem;
}

.modal__note-text {
  font-family: "Inter";
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 140%;
}

.modal__btn {
  padding: 0.625rem;
  border-radius: 2.5rem;
  border: 0.0625rem solid #665f55;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.no-touch .modal__btn:hover {
  color: #e1d4c9;
  background-color: #665f55;
  border: 0.0625rem solid #665f55;
}

.modal-fieldset__title {
  margin-bottom: 0.4375rem;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

.modal-fieldset__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
}

.modal-fieldset__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  height: 2.875rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border-radius: 6.25rem;
  border: 0.0625rem solid #c1b6ad;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.modal-fieldset__label span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.875rem;
  height: 1.875rem;
  background-color: #c1b6ad;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.modal-fieldset__input:checked ~ .modal-fieldset__label,
.no-touch .modal-fieldset__label:hover {
  color: #e1d4c9;
  background-color: #665f55;
  border: 0.0625rem solid #665f55;
}

.modal-fieldset__input:checked ~ .modal-fieldset__label span,
.no-touch .modal-fieldset__label:hover span {
  color: #403f3d;
  background-color: #e1d4c9;
}

.modal-fieldset__input[type=radio]:checked ~ .modal-fieldset__label {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.page__promo,
.page__favorite,
.page__about,
.page__mobile,
.page__section-menu {
  margin-bottom: 6.25rem;
}

@media (min-width: 48em) {
  [class*=__container] {
    padding-left: 2.5rem;
  }

  [class*=__container] {
    padding-right: 2.5rem;
  }

  .section-title {
    font-size: 3.75rem;
  }

  .footer__wrapper {
    padding-top: 6.25rem;
  }

  .footer__wrapper {
    padding-bottom: 6.25rem;
  }

  .footer__wrapper {
    row-gap: 6.25rem;
  }

  .footer__title {
    font-size: 3.75rem;
  }

  .promo__content {
    height: 40.25rem;
  }

  .promo__content {
    padding-top: 6.25rem;
  }

  .promo__content {
    padding-bottom: 6.25rem;
  }

  .promo__title {
    font-size: 4.5rem;
  }

  .promo__title {
    line-height: 4.725rem;
  }

  .favorite-slide__link {
    width: 30rem;
  }

  .favorite-slide__link {
    height: 40rem;
  }

  .mobile__container {
    gap: 6.25rem;
  }

  .menu-tabs__header {
    gap: 1rem;
  }

  .modal {
    padding-left: 2.5rem;
  }

  .modal {
    padding-right: 2.5rem;
  }
}

@media (min-width: 90em) {
  .footer__wrapper {
    padding-left: 6.25rem;
  }

  .footer__wrapper {
    padding-right: 6.25rem;
  }

  .promo__content {
    padding-left: 6.25rem;
  }

  .promo__content {
    padding-right: 6.25rem;
  }

  .about__images {
    height: 66.25rem;
  }

  .menu-tabs__refresh {
    display: none;
  }
}

@media (max-width: 48em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 2.75rem;
    height: 2.75rem;
    cursor: pointer;
    z-index: 110;
    border: 0.0625rem solid #403f3d;
    border-radius: 50%;
    margin-left: 1.875rem;
  }

  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 50%;
    position: absolute;
    width: 1.125rem;
    height: 0rem;
    border: 0.0625rem solid #403f3d;
    border-radius: 0.09375rem;
    background-color: #403f3d;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
  }

  .icon-menu::before {
    top: calc(50% - 0.3125rem);
  }

  .icon-menu::after {
    bottom: calc(50% - 0.3125rem);
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: translateX(50%) rotate(-45deg);
        -ms-transform: translateX(50%) rotate(-45deg);
            transform: translateX(50%) rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: translateX(50%) rotate(45deg);
        -ms-transform: translateX(50%) rotate(45deg);
            transform: translateX(50%) rotate(45deg);
  }

  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: #e1d4c9;
    -webkit-transition: all 1.3s ease 0s;
    transition: all 1.3s ease 0s;
    z-index: 100;
    opacity: 0;
  }

  .menu-open .menu__body {
    right: 0;
    opacity: 1;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    row-gap: 3.75rem;
    padding-top: 10rem;
  }

  .menu__link_menu {
    margin: 6.25rem auto auto auto;
  }

  .promo__link svg {
    width: 1.25rem;
    margin-left: 0.5rem;
    opacity: 1;
  }

  .products__item:nth-of-type(n + 5) {
    display: none;
  }
}

@media (max-width: 61.99875em) {
  .footer__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .about__images {
    height: 76.25rem;
    row-gap: 2.5rem;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .about__image-ibg {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 36.875rem;
            flex: 0 0 36.875rem;
  }

  .about__image-ibg_small {
    display: none;
  }

  .mobile__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 43.75em) {
  .modal__wrapper {
    display: block;
  }

  .modal__image {
    display: none;
  }
}

@media (max-width: 38.75em) {
  .favorite-slider__nav-button {
    display: none;
  }
}

@media (max-width: 23.75em) {
  [class*=__container] {
    padding-left: 1rem;
  }

  [class*=__container] {
    padding-right: 1rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .footer__wrapper {
    padding-top: 3.75rem;
  }

  .footer__wrapper {
    padding-bottom: 3.75rem;
  }

  .footer__wrapper {
    row-gap: 2.5rem;
  }

  .footer__wrapper {
    padding-left: 1rem;
  }

  .footer__wrapper {
    padding-right: 1rem;
  }

  .footer__title {
    font-size: 2rem;
  }

  .promo__content {
    height: 34.5rem;
  }

  .promo__content {
    padding-top: 3.75rem;
  }

  .promo__content {
    padding-bottom: 3.75rem;
  }

  .promo__content {
    padding-left: 1rem;
  }

  .promo__content {
    padding-right: 1rem;
  }

  .promo__title {
    font-size: 2.625rem;
  }

  .promo__title {
    line-height: 3.01875rem;
  }

  .favorite-slide__link {
    width: 21.75rem;
  }

  .favorite-slide__link {
    height: 33.25rem;
  }

  .mobile__container {
    gap: 2.5rem;
  }

  .menu-tabs__header {
    gap: 0.5rem;
  }

  .modal {
    padding-left: 1rem;
  }

  .modal {
    padding-right: 1rem;
  }
}

@media (min-width: 23.75em) and (max-width: 48em) {
  [class*=__container] {
    padding-left: clamp( 1rem , -0.4690721649rem  +  6.1855670103vw , 2.5rem );
  }

  [class*=__container] {
    padding-right: clamp( 1rem , -0.4690721649rem  +  6.1855670103vw , 2.5rem );
  }

  .section-title {
    font-size: clamp( 2rem , 0.2860824742rem  +  7.2164948454vw , 3.75rem );
  }

  .footer__wrapper {
    padding-top: clamp( 3.75rem , 1.3015463918rem  +  10.3092783505vw , 6.25rem );
  }

  .footer__wrapper {
    padding-bottom: clamp( 3.75rem , 1.3015463918rem  +  10.3092783505vw , 6.25rem );
  }

  .footer__wrapper {
    row-gap: clamp( 2.5rem , -1.1726804124rem  +  15.4639175258vw , 6.25rem );
  }

  .footer__wrapper {
    padding-left: clamp( 1rem , -1.6932989691rem  +  11.3402061856vw , 3.75rem );
  }

  .footer__wrapper {
    padding-right: clamp( 1rem , -1.6932989691rem  +  11.3402061856vw , 3.75rem );
  }

  .footer__title {
    font-size: clamp( 2rem , 0.2860824742rem  +  7.2164948454vw , 3.75rem );
  }

  .promo__content {
    height: clamp( 34.5rem , 28.868556701rem  +  23.7113402062vw , 40.25rem );
  }

  .promo__content {
    padding-top: clamp( 3.75rem , 1.3015463918rem  +  10.3092783505vw , 6.25rem );
  }

  .promo__content {
    padding-bottom: clamp( 3.75rem , 1.3015463918rem  +  10.3092783505vw , 6.25rem );
  }

  .promo__content {
    padding-left: clamp( 1rem , -1.6932989691rem  +  11.3402061856vw , 3.75rem );
  }

  .promo__content {
    padding-right: clamp( 1rem , -1.6932989691rem  +  11.3402061856vw , 3.75rem );
  }

  .promo__title {
    font-size: clamp( 2.625rem , 0.7886597938rem  +  7.7319587629vw , 4.5rem );
  }

  .promo__title {
    line-height: clamp( 3.01875rem , 1.3476804124rem  +  7.0360824742vw , 4.725rem );
  }

  .favorite-slide__link {
    width: clamp( 21.75rem , 13.6701030928rem  +  34.0206185567vw , 30rem );
  }

  .favorite-slide__link {
    height: clamp( 33.25rem , 26.6391752577rem  +  27.8350515464vw , 40rem );
  }

  .mobile__container {
    gap: clamp( 2.5rem , -1.1726804124rem  +  15.4639175258vw , 6.25rem );
  }

  .menu-tabs__header {
    gap: clamp( 0.5rem , 0.0103092784rem  +  2.0618556701vw , 1rem );
  }

  .modal {
    padding-left: clamp( 1rem , -0.4690721649rem  +  6.1855670103vw , 2.5rem );
  }

  .modal {
    padding-right: clamp( 1rem , -0.4690721649rem  +  6.1855670103vw , 2.5rem );
  }
}

@media (min-width: 48em) and (max-width: 90em) {
  .footer__wrapper {
    padding-left: clamp( 3.75rem , 0.8928571429rem  +  5.9523809524vw , 6.25rem );
  }

  .footer__wrapper {
    padding-right: clamp( 3.75rem , 0.8928571429rem  +  5.9523809524vw , 6.25rem );
  }

  .promo__content {
    padding-left: clamp( 3.75rem , 0.8928571429rem  +  5.9523809524vw , 6.25rem );
  }

  .promo__content {
    padding-right: clamp( 3.75rem , 0.8928571429rem  +  5.9523809524vw , 6.25rem );
  }
}

@media (min-width: 61.99875em) and (max-width: 90em) {
  .about__images {
    height: clamp( 43.75rem , -6.0682000804rem  +  80.3535556448vw , 66.25rem );
  }
}