// Заголовки, общие БЄМ блоки и проче...
.section-title {
  font-family: $fontFamily;
  font-weight: 600;
  line-height: 125%;
  color: $mainColor;
  @include adaptiveValue('font-size', 60, 32, 768, 380, 1);

  & span {
    font-style: italic;
    color: $textColorAccent;
  }
}

//====================================================================

.button-icon-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(60);
  height: rem(60);
  color: $mainColor;
  border: rem(1) solid $mainColor;
  border-radius: 50%;
  &:disabled {
    opacity: 0.2;
    cursor: default;
  }
  &:not(:disabled):hover {
    color: $textColorLight;
    border: rem(1) solid $bgColorContainer;
    background-color: $bgColorContainer;
  }
}

//====================================================================

.product-card {
  width: rem(310);
  min-height: rem(505);
  height: 100%;
  border: rem(1) solid $borderColorLight;
  border-radius: rem(40);
  // .product-card__link
  &__link {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    &:hover img {
      transform: scale(1);
    }
  }
  // .product-card__image
  &__image {
    width: rem(308);
    height: rem(308);
    border-radius: rem(40);
    overflow: hidden;
    & img {
      transform: scale(1.1);
      transition: all 1s ease 0s;
    }
  }
  // .product-card__content
  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(12);
    padding: rem(20);
    // height: 100%;
  }
  // .product-card__title
  &__title {
    font-family: $fontFamily;
    font-size: rem(24);
    font-weight: 600;
    line-height: 125%;
  }
  // .product-card__text
  &__text {
    flex: 1 1 100%;
    font-family: $fontFamily;
    font-size: rem(16);
    font-weight: 400;
    line-height: 150%;
  }
  // .product-card__price
  &__price {
    font-family: $fontFamily;
    font-size: rem(24);
    font-weight: 600;
    line-height: 125%;
  }
}
