// Заголовки, общие БЄМ блоки и проче...

.section__title {
  font-family: 'Inter';
  font-size: rem(60);
  font-weight: 600;
  line-height: 125%;
  color: $mainColor;
  & span {
    font-style: italic;
    color: $textColorAccent;
  }
}
