//Burger

.icon-menu {
  display: none;
  @media (max-width: $tablet) {
    display: block;
    position: relative;
    width: rem(44);
    height: rem(44);
    cursor: pointer;
    z-index: 5;
    border: rem(1) solid $mainColor;
    border-radius: 50%;
    margin-left: rem(30);
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 50%;
      position: absolute;
      width: rem(16);
      height: rem(2);
      background-color: $mainColor;
      transform: translateX(50%);
    }
    &::before {
      top: calc(50% - rem(4));
    }
    &::after {
      bottom: calc(50% - rem(4));
    }
    .menu-open & {
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - rem(1));
        transform: translateX(50%) rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: translateX(50%) rotate(45deg);
      }
    }
  }
}

//====================================================================

.header {
  font-family: 'Inter';
  font-size: rem(16);
  font-weight: 600;
  line-height: 150%;
  min-height: rem(100);
  // .header__container
  &__container {
  }
  // .header__menu
  &__menu {
  }
  // .header__logo
  &__logo {
    flex: 0 0 rem(100);
    align-self: start;
    height: auto;
    transition: transform 0.3s ease 0s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(20);
  padding-bottom: rem(20);
  // .menu__icon
  &__icon {
    flex: 0 0 auto;
    align-self: start;
  }
  // .menu__body
  &__body {
    flex: 1 1 auto;
    display: flex;
    @media (max-width: $tablet) {
      display: none;
      .menu-open & {
        display: flex;
      }
    }
  }
  // .menu__list
  &__list {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: rem(30);
    margin-left: rem(40);
    margin-right: rem(40);
  }
  // .menu__item
  &__item {
    position: relative;
    padding: 5px;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 50%;
      width: 0;
      height: rem(2);
      background-color: $mainColor;
      transform: translateX(50%);
      opacity: 0;
      transition: all 0.3s ease 0s;
    }
    &:hover:after {
      width: 100%;
      opacity: 1;
    }
  }
  // .menu__link
  &__link {
  }
  // /menu__menu
  &__menu {
    position: relative;
    flex: 0 0 rem(72);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(5);
    padding-bottom: rem(5);
    max-height: rem(34);
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 50%;
      width: 0;
      height: rem(2);
      background-color: $mainColor;
      transform: translateX(50%);
      opacity: 0;
      transition: all 0.3s ease 0s;
    }
    &:hover:after {
      width: 100%;
      opacity: 1;
    }
    & svg {
      align-self: start;
      width: rem(20);
      height: rem(20);
    }
  }
}
