//Burger

.icon-menu {
  display: none;
  @media (max-width: $tablet) {
    display: block;
    position: relative;
    width: rem(44);
    height: rem(44);
    cursor: pointer;
    z-index: 5;
    border: rem(1) solid $mainColor;
    border-radius: 50%;
    margin-left: rem(30);
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 50%;
      position: absolute;
      width: rem(16);
      height: rem(2);
      background-color: $mainColor;
      transform: translateX(50%);
    }
    &::before {
      top: calc(50% - rem(4));
    }
    &::after {
      bottom: calc(50% - rem(4));
    }
    .menu-open & {
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - rem(1));
        transform: translateX(50%) rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: translateX(50%) rotate(45deg);
      }
    }
  }
}

//====================================================================

.header {
  font-family: $fontFamily;
  font-size: rem(16);
  font-weight: 600;
  line-height: 150%;
  min-height: rem(100);
  // .header__container
  &__container {
  }
  // .header__menu
  &__menu {
  }
  // .header__logo
  &__logo {
    flex: 0 0 rem(100);
    align-self: start;
    height: auto;
    transition: transform 0.3s ease 0s;
    &:hover {
      transform: scale(1.1);
    }
    .html-home & {
      cursor: default;
      user-select: none;
      pointer-events: none;
    }
  }
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(20);
  padding-bottom: rem(20);
  // .menu__icon
  &__icon {
    flex: 0 0 auto;
    align-self: start;
  }
  // .menu__body
  &__body {
    flex: 1 1 auto;
    display: flex;
    @media (max-width: $tablet) {
      display: none;
      .menu-open & {
        display: flex;
      }
    }
  }
  // .menu__list
  &__list {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: rem(32);
    margin-left: rem(40);
    margin-right: rem(40);
  }
  // .menu__item
  &__item {
  }
  // .menu__link
  &__link {
    position: relative;
    padding: rem(4);
    margin-bottom: rem(4);
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 50%;
      width: 0;
      height: rem(2);
      background-color: $mainColor;
      transform: translateX(50%);
      opacity: 0;
      transition: all 0.3s ease 0s;
    }
    &:hover:after {
      width: calc(100% - rem(8));
      opacity: 1;
    }
    // .menu__link_menu
    &_menu {
      flex: 0 0 rem(80);
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: rem(10);
      max-height: rem(34);
      margin-right: rem(-5);
      .html-menu & {
        cursor: default;
        user-select: none;
        pointer-events: none;
      }
      & svg {
        align-self: start;
        width: rem(20);
        height: rem(20);
      }
      &:hover:after,
      .html-menu &:after {
        width: calc(100% - rem(8));
        opacity: 1;
      }
    }
  }
}
