.section-menu {
  // .section-menu__container
  &__container {
  }
  // .section-menu__title
  &__title {
    display: block;
    max-width: rem(800);
    margin: 0 auto rem(40) auto;
    text-align: center;
  }
  // .section-menu__tabs
  &__tabs {
  }
}
.menu-tabs {
  // .menu-tabs__header
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(40);
    @include adaptiveValue('gap', 16, 8, 768, 380, 1);
  }
  // .menu-tabs__header-item
  &__header-item {
  }
  // .menu-tabs__content
  &__content {
  }
  // .menu-tabs__content-item
  &__content-item {
  }
  // .menu-tabs__refresh
  &__refresh {
    margin: rem(40) auto 0 auto;
    @media (min-width: $pc) {
      display: none;
    }
    & svg {
      width: rem(24);
      height: rem(24);
    }
    &.hidden {
      display: none;
    }
  }
}
.menu-tabs-switch {
  display: flex;
  align-items: center;
  gap: rem(8);
  padding: rem(7) rem(15) rem(7) rem(7);
  border: rem(1) solid $borderColorLight;
  border-radius: rem(100);
  font-family: $fontFamily;
  font-size: rem(16);
  font-weight: 600;
  line-height: 150%;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  &._active,
  .no-touch &:hover {
    color: $textColorLight;
    background-color: $bgColorContainer;
    border: rem(1) solid $bgColorContainer;
  }
  &._active {
    cursor: default;
    user-select: none;
    pointer-events: none;
  }
  // .menu-tabs-switch__image
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(30);
    height: rem(30);
    background-color: $borderColorLight;
    border-radius: 50%;
    & img {
      width: rem(16);
      height: rem(24);
    }
  }
  &._active &__image,
  .no-touch &:hover &__image {
    background-color: $bgColorBody;
  }
}
.menu-content-item {
  display: none;
  &._active {
    display: block;
  }
  // .menu-content-item__list
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, rem(310));
    grid-auto-rows: 1fr;
    justify-content: center;
    overflow: hidden;
    gap: rem(40);
  }
}
.products {
  // .products__item
  &__item {
    display: block;

    @media (max-width: em(768)) {
      &:nth-of-type(n + 5) {
        display: none;
      }
    }
  }
}

//====================================================================

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bgColorBackdrop;
  @include adaptiveValue('padding-left', 40, 16, 768, 380, 1);
  @include adaptiveValue('padding-right', 40, 16, 768, 380, 1);

  &.hidden {
    display: none;
  }
  // .modal__wrapper
  &__wrapper {
    display: grid;
    grid-template-columns: rem(310) 1fr;
    column-gap: rem(20);
    max-width: rem(800);
    width: 100%;
    padding: rem(16);
    border-radius: rem(40);
    background-color: $bgColorBody;
    @media (max-width: em(700)) {
      display: block;
    }
  }
  // .modal__image
  &__image {
    width: rem(310);
    height: rem(310);
    border-radius: rem(40);
    overflow: hidden;

    @media (max-width: em(700)) {
      display: none;
    }
    & img {
      transform: scale(1.1);
      transition: all 1s ease 0s;
    }
  }
  // .modal__content
  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }
  // .modal__text-wrapper
  &__text-wrapper {
  }
  // .modal__title
  &__title {
    font-family: $fontFamily;
    font-size: rem(24);
    font-weight: 600;
    line-height: 125%;
    margin-bottom: rem(12);
  }
  // .modal__text
  &__text {
    font-family: $fontFamily;
    font-size: rem(16);
    font-weight: 400;
    line-height: 150%;
  }
  // .modal__fieldset
  &__fieldset {
  }
  // .modal__total
  &__total {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  // .modal__total-title
  &__total-title {
    font-family: $fontFamily;
    font-size: rem(24);
    font-weight: 600;
    line-height: 125%;
  }
  // .modal__total-value
  &__total-value {
    font-family: $fontFamily;
    font-size: rem(24);
    font-weight: 600;
    line-height: 125%;
  }
  // .modal__note-wrapper
  &__note-wrapper {
    display: flex;
    gap: rem(8);
    padding: rem(12) rem(0);
    border-top: rem(1) solid $borderColorLight;
  }
  // .modal__note-img
  &__note-img {
    flex: 0 0 rem(16);
  }
  // .modal__note-text
  &__note-text {
    font-family: $fontFamily;
    font-size: rem(10);
    font-weight: 600;
    line-height: 140%;
  }
  // .modal__btn
  &__btn {
    padding: rem(10);
    border-radius: rem(40);
    border: rem(1) solid $borderColorDark;
    font-family: $fontFamily;
    font-size: rem(16);
    font-weight: 600;
    line-height: 150%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    .no-touch &:hover {
      color: $textColorLight;
      background-color: $bgColorContainer;
      border: rem(1) solid $bgColorContainer;
    }
  }
}
.modal-fieldset {
  // .modal-fieldset_size
  &_size {
  }
  // .modal-fieldset_additives
  &_additives {
  }
  // .modal-fieldset__title
  &__title {
    margin-bottom: rem(7);
    font-family: $fontFamily;
    font-size: rem(16);
    font-weight: 400;
    line-height: 150%;
  }
  // .modal-fieldset__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(8);
  }
  // .modal-fieldset__item
  &__item {
  }
  // .modal-fieldset__input
  &__input {
  }
  // .modal-fieldset__label
  &__label {
    display: flex;
    align-items: center;
    gap: rem(8);
    height: rem(46);
    padding: rem(8) rem(16) rem(8) rem(8);
    border-radius: rem(100);
    border: rem(1) solid $borderColorLight;
    font-family: $fontFamily;
    font-size: rem(16);
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(30);
      height: rem(30);
      background-color: $borderColorLight;
      border-radius: 50%;
      transition: all 0.3s ease 0s;
    }
  }
  &__input:checked ~ &__label,
  .no-touch &__label:hover {
    color: $textColorLight;
    background-color: $bgColorContainer;
    border: rem(1) solid $bgColorContainer;
    & span {
      color: $mainColor;
      background-color: $bgColorBody;
    }
  }
  &__input[type='radio']:checked ~ &__label {
    cursor: default;
    user-select: none;
    pointer-events: none;
  }
}
